
<nav id="sidebar">
    <div class="sidebar-header clearfix">
        <div class="btn-toggle-left-sidebar float-right">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo float-left">
            <h3>ABCAdmin</h3>
            <strong>RK</strong>
        </div>
    </div>
    <div class="sidebar-body ">
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
                <ul class="collapse list-unstyled show" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    <span>About</span>
                </a>
            </li>
            <li>
                <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    <span>Pages</span>
                </a>
                <ul class="collapse list-unstyled show" id="pageSubmenu1">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#widgets" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    <span>Widgets</span>
                </a>
                <ul class="collapse list-unstyled" id="widgets">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    <span>Forms</span>
                </a>
                <ul class="collapse list-unstyled" id="forms">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    <span>Charts</span>
                </a>
                <ul class="collapse list-unstyled" id="charts">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    <span>Tables</span>
                </a>
                <ul class="collapse list-unstyled" id="tables">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
</nav>