{{> ./partials/head title=htmlWebpackPlugin.options.title }} 
<body class="d-flex">
    {{> ./partials/header title=htmlWebpackPlugin.options.title }} 
    <h1>Buttons</h1>
    {{> ./partials/social }}
</body>

</html>