{{> ./partials/head page_title=htmlWebpackPlugin.options.title }}
<body>
    <div class="d-flex wrapper">
        {{> ./partials/left-sidebar }}
        <!-- Page Content -->
        <div id="content-page">
            
        </div>
    </div>
</body>
</html>
