{{> ./partials/head page_title=htmlWebpackPlugin.options.title }}
<body>
    <div class="wrapper">
        {{> ./partials/left-sidebar }}
        <!-- Page Content -->
        <div id="content">
            
        </div>
    </div>
</body>
</html>
