/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;

    .btn-toggle-left-sidebar {
        cursor: pointer;
    }

    .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
        strong {
            display: none;
        }
    }

    .components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    ul {
        p {
            color: #fff;
            padding: 10px;
        }

        li {
            a {
                padding: 10px;
                font-size: 1.1em;
                display: block;
                text-align: left;
                &:hover {
                    color: #7386D5;
                    background: #fff;
                }
            }
            
            &.active {
                >a{
                    color: #fff;
                    background: #6d7fcc; 
                }
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }

    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
body.sidebar-shrinking {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        .sidebar-header {
            h3 {
                display: none;
            }

            strong {
                display: block;
            }
        } 

        ul {
            li a {
                padding: 20px 10px;
                text-align: center;
                font-size: 0.85em;
                i {
                    margin-right:  0;
                    display: block;
                    font-size: 2em;
                    margin-bottom: 5px;
                }
                span {
                    display: none;
                }
            }
            /* Same dropdown links padding*/
            ul a {
                padding: 10px !important;
            }
        } 
        /* Changing the arrow position to bottom center position, 
           translateX(50%) works with right: 50% 
           to accurately  center the arrow */
        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
    }
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/*---------------------*/

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.shrinking {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.shrinking .sidebar-header h3 {
        display: none;
    }
    #sidebar.shrinking .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.shrinking ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.shrinking ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.shrinking ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}